/*--------------------------------------------------------
* Filename: styles.scss
* Description: General styles for XTEN Realty

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Fonts*/
@font-face {
  font-family: 'xten_icons';
  src: url("../fonts/xten_icons.eot");
  src: url("../fonts/xten_icons.eot") format("embedded-opentype"), url("../fonts/xten_icons.ttf") format("truetype"), url("../fonts/xten_icons.woff") format("woff"), url("../fonts/xten_icons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xten_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-realtor:before {
  content: "\e900"; }

.icon-equal-housing:before {
  content: "\e90d"; }

.icon-account:before {
  content: "\e901"; }

.icon-angle-down:before {
  content: "\e902"; }

.icon-contact:before {
  content: "\e903"; }

.icon-enewsletter:before {
  content: "\e904"; }

.icon-facebook:before {
  content: "\e905"; }

.icon-instagram:before {
  content: "\e906"; }

.icon-linkedin:before {
  content: "\e907"; }

.icon-office:before {
  content: "\e908"; }

.icon-search:before {
  content: "\e909"; }

.icon-twitter:before {
  content: "\e90a"; }

.icon-website:before {
  content: "\e90b"; }

.icon-youtube:before {
  content: "\e90c"; }

/*Variables*/
/*Mixins*/
/**/
/*Main CSS*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
  overflow-x: hidden; }

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none; }

.widen {
  display: inline-block;
  -webkit-transform: scale(1.1, 1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1, 1);
  /* Firefox */
  -ms-transform: scale(1.1, 1);
  /* IE 9 */
  -o-transform: scale(1.1, 1);
  /* Opera */
  transform: scale(1.1, 1);
  /* W3C */ }

.shorten {
  display: inline-block;
  -webkit-transform: scale(1, 0.9);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.9);
  /* Firefox */
  -ms-transform: scale(1, 0.9);
  /* IE 9 */
  -o-transform: scale(1, 0.9);
  /* Opera */
  transform: scale(1, 0.9);
  /* W3C */ }

.shorten-widen {
  display: inline-block;
  -webkit-transform: scale(1.1, 0.9);
  /* Safari and Chrome */
  -moz-transform: scale(1.1, 0.9);
  /* Firefox */
  -ms-transform: scale(1.1, 0.9);
  /* IE 9 */
  -o-transform: scale(1.1, 0.9);
  /* Opera */
  transform: scale(1.1, 0.9);
  /* W3C */ }

.hide-small {
  display: none; }

#officeModal .modal-content {
  padding: 0px;
  margin: 0px;
  background-image: url("../img/QS_BG.png");
  background-color: #EEE;
  background-repeat-y: no-repeat;
  background-position: 0px -2px; }
  #officeModal .modal-content .modal-header {
    color: #FFF; }
    #officeModal .modal-content .modal-header button {
      color: #FFF; }
  #officeModal .modal-content .modal-body iframe {
    height: 100%;
    width: 100%; }
  #officeModal .modal-content .modal-footer {
    color: #237377; }

.cust_container {
  padding: 0px;
  margin: 0px;
  margin: auto;
  width: 290px; }

/*xs*/
.navbar {
  padding: 0px;
  margin: 0px;
  height: 50px;
  z-index: 1; }
  .navbar .logo {
    margin-left: 15px; }
    .navbar .logo div {
      height: 50px;
      width: 50px;
      background-image: url("../img/TEN-logo-mark.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
  .navbar .navbar-links {
    position: absolute;
    right: 0px; }
    .navbar .navbar-links .permlinks {
      height: 50px;
      right: 0px;
      font-size: 0.8rem;
      position: absolute;
      overflow: hidden; }
      .navbar .navbar-links .permlinks .navbar-nav {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .navbar .navbar-links .permlinks .navbar-nav .nav-item {
          margin-left: 10px;
          width: 60px;
          border: 0px;
          border-radius: 0px; }
          .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link {
            color: #666;
            text-align: center; }
            .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link i {
              position: relative;
              color: #2399A6;
              font-size: 16px;
              top: 2px; }
            .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link .txt-menu {
              margin-top: 1px; }
          .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link:hover {
            color: #237377;
            background-color: #EEE; }
    .navbar .navbar-links #linksbar {
      font-weight: bold;
      font-size: 1.05em;
      margin-top: 50px;
      margin-right: 0px;
      background-color: #FFF; }
      .navbar .navbar-links #linksbar .nav-link {
        margin: 10px;
        text-align: center;
        color: #323232; }
      .navbar .navbar-links #linksbar .nav-link:hover {
        color: #237377;
        background-color: #EEE; }

.jumbotron {
  padding: 0px;
  margin: 0px;
  background-image: url("../img/QS_BG.png");
  background-color: #EEE;
  background-repeat-y: no-repeat;
  background-position: 0px -2px;
  border-radius: 0px;
  height: 764px; }
  .jumbotron .btn {
    background-color: #237377;
    text-align: center;
    color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px; }
  .jumbotron .btn:hover {
    background-color: #2399A6; }
  .jumbotron .quicksearch {
    height: 60px;
    padding-top: 10px;
    margin-bottom: 1px; }
    .jumbotron .quicksearch form {
      display: flex; }
      .jumbotron .quicksearch form input {
        width: 210px;
        height: 40px;
        border: none;
        border-radius: 0px;
        font-size: 0.9em; }
      .jumbotron .quicksearch form .search_btn {
        height: 40px;
        width: 80px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
        .jumbotron .quicksearch form .search_btn .icon-search {
          font-size: 27px;
          top: -3px;
          position: relative; }
        .jumbotron .quicksearch form .search_btn .search_text {
          display: none; }
  .jumbotron .bio .headshot {
    width: 210px;
    height: 289px; }
  .jumbotron .bio .namecard {
    margin-top: 12px; }
    .jumbotron .bio .namecard h2 {
      font-size: 2.45rem; }
    .jumbotron .bio .namecard p {
      margin-top: -4px;
      color: #AAA;
      font-size: 0.9rem; }
    .jumbotron .bio .namecard .contact_btn {
      height: 42px;
      margin-top: -1px;
      width: 290px; }
    .jumbotron .bio .namecard .socialicons {
      padding-top: 13px;
      font-size: 1.65rem; }
      .jumbotron .bio .namecard .socialicons a {
        color: #666; }
      .jumbotron .bio .namecard .socialicons a:hover {
        color: #237377; }
  .jumbotron .bio .contactlinks {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 26px; }
    .jumbotron .bio .contactlinks p {
      line-height: 30px;
      margin-bottom: 14px; }
      .jumbotron .bio .contactlinks p a {
        color: #237377; }
        .jumbotron .bio .contactlinks p a .icon {
          position: relative;
          color: #2399A6;
          font-size: 1.55rem;
          top: 2px;
          margin-right: 25px; }
    .jumbotron .bio .contactlinks p:hover a {
      color: #666; }
      .jumbotron .bio .contactlinks p:hover a .icon {
        color: #666; }

#main {
  padding-top: 39px;
  padding-bottom: 19px; }
  #main .sm_tab_nav {
    position: relative;
    margin-bottom: 12px; }
    #main .sm_tab_nav #mobiletabs {
      font-weight: bold;
      color: #237377;
      width: 290px;
      height: 40px;
      padding-left: 9px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    #main .sm_tab_nav select::-ms-expand {
      display: none; }
  #main .sm_tab_nav:after {
    position: absolute;
    content: "\e902";
    font: 10px "xten_icons";
    color: #237377;
    right: 11px;
    top: 16px; }
  #main .tab-content #aboutme .sidebar h5 {
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.0rem; }
  #main .tab-content #aboutme .sidebar p {
    font-size: 0.9rem; }
  #main .tab-content #listings iframe {
    border: 0;
    width: 600px;
    max-width: 100%;
    height: 450px; }

.footer {
  position: relative;
  height: 279px;
  background-color: #2399A6;
  color: #FFF;
  padding-top: 26px; }
  .footer a {
    color: #FFF;
    text-decoration: none; }
  .footer a:hover {
    color: #AAA; }
  .footer .locations {
    text-align: center;
    font-size: 1.05rem; }
    .footer .locations i {
      margin-right: 5px; }
    .footer .locations .socialicons {
      font-size: 1.5rem;
      padding-top: 18px; }
  .footer .copyright {
    padding-top: 16px;
    text-align: center; }
    .footer .copyright .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .footer .copyright .links a {
        text-decoration: underline; }
    .footer .copyright .copy {
      padding-top: 12px;
      font-size: 0.8rem; }
    .footer .copyright .realty-icons {
      font-size: 2.25rem; }
      .footer .copyright .realty-icons span {
        padding: 1px 9px 0px 9px; }

/*Media Queries*/
/*sm*/
@media (min-width: 728px) {
  .cust_container {
    width: 726px; }
  .hide-small {
    display: inline-block; }
  .show-small {
    display: none; }
  .navbar {
    height: 54px; }
    .navbar .logo div {
      height: 54px;
      width: 151px;
      background-image: url("../img/TEN-logo.svg"); }
  #main .nav {
    width: 726px; }
    #main .nav .nav-item {
      width: 25%;
      text-align: center; }
      #main .nav .nav-item a {
        padding-bottom: 0.4rem;
        color: #AAA;
        font-weight: bold;
        font-size: 1.1rem;
        border-bottom: 2px solid #EEE; }
      #main .nav .nav-item a:hover {
        color: #237377; }
      #main .nav .nav-item .active {
        border-bottom: 2px solid #237377;
        color: #237377; } }
