/*--------------------------------------------------------
* Filename: styles.scss
* Description: General styles for XTEN Realty

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Fonts*/
@font-face {
	font-family: 'xten_icons';
	src:  url('../fonts/xten_icons.eot');
	src:  url('../fonts/xten_icons.eot') format('embedded-opentype'),
		url('../fonts/xten_icons.ttf') format('truetype'),
		url('../fonts/xten_icons.woff') format('woff'),
		url('../fonts/xten_icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'xten_icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-realtor:before {
	content: "\e900";
}
.icon-equal-housing:before {
	content: "\e90d";
}
.icon-account:before {
	content: "\e901";
}
.icon-angle-down:before {
	content: "\e902";
}
.icon-contact:before {
	content: "\e903";
}
.icon-enewsletter:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-instagram:before {
	content: "\e906";
}
.icon-linkedin:before {
	content: "\e907";
}
.icon-office:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-twitter:before {
	content: "\e90a";
}
.icon-website:before {
	content: "\e90b";
}
.icon-youtube:before {
	content: "\e90c";
}

/*Variables*/
$c_white: #FFF; //white
$c_vlgray: #EEE; //very light gray
$c_ltgray: #AAA; //light gray
$c_gray: #666; //medium gray
$c_dkgray: #323232; //dark gray
$c_ltteal: #2399A6; //lighter teal
$c_dkteal: #237377; //darker teal

$qsh: 60px; //quicksearch height;
$qslh: 40px; //quicksearch line-height;
$gutter: 30px; //gutter width

$xs_cont: 290px; //xs container width
$xs_navh: 50px; //xs navigation height
$xs_jumbh: 764px; //xs jumbotron height
$xs_footh: 279px; //xs footer height
$xs_lpad: 15px; //xs min left spacing

$sm_breakpoint: 728px; //breakpoint to move from xs > sm
$sm_cont: 726px; //sm container width
$sm_navh: 54px; //sm navigation height
$sm_jumbh: 278px; //sm jumbotron height
$sm_footh: 151px; //sm-lg footer height

$md_breakpoint: 944px; //breakpoint to move from sm > md
$md_cont: 942px; //md container width
$md_navh: 101px; //md-lg navigation height
$md_jumbh: 355px; //md jumbotron height

$lg_breakpoint: 1148px; //breakpoint to move from md > lg
$lg_cont: 1146px; //lg container width
$lg_jumbh: 421px; //lg jumbotron height


/*Mixins*/

@mixin zeromargin {
	padding: 0px;
	margin: 0px;
}

@mixin imagesize($w,$h) {
	width: $w;
	height: $h;
}

@mixin nav_hover {
	color: $c_dkteal;
	background-color: $c_vlgray;
}

/**/

/*Main CSS*/
*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	@include zeromargin;
	font-family: 'Lato', sans-serif;
	background-color: $c_white;
	overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

.widen {
	display:inline-block;
	-webkit-transform:scale(1.1,1); /* Safari and Chrome */
	-moz-transform:scale(1.1,1); /* Firefox */
	-ms-transform:scale(1.1,1); /* IE 9 */
	-o-transform:scale(1.1,1); /* Opera */
	transform:scale(1.1,1); /* W3C */
}

.shorten {
	display:inline-block;
	-webkit-transform:scale(1.0,0.9); /* Safari and Chrome */
	-moz-transform:scale(1.0,0.9); /* Firefox */
	-ms-transform:scale(1.0,0.9); /* IE 9 */
	-o-transform:scale(1.0,0.9); /* Opera */
	transform:scale(1.0,0.9); /* W3C */
}

.shorten-widen {
	display:inline-block;
	-webkit-transform:scale(1.1,0.9); /* Safari and Chrome */
	-moz-transform:scale(1.1,0.9); /* Firefox */
	-ms-transform:scale(1.1,0.9); /* IE 9 */
	-o-transform:scale(1.1,0.9); /* Opera */
	transform:scale(1.1,0.9); /* W3C */
}

.hide-small {
	display: none;
}

#officeModal {
	.modal-content {
		@include zeromargin;
		background-image: url('../img/QS_BG.png');
		background-color: $c_vlgray;
		background-repeat-y: no-repeat;
		background-position: 0px -2px;
		.modal-header {
			color: $c_white;
			button {
				color: $c_white;
			}
		}
		.modal-body {
			iframe {
				height: 100%;
				width: 100%;
			}
		}
		.modal-footer {
			color: $c_dkteal;
		}
	}
}

.cust_container {
	@include zeromargin;
	margin: auto;
	width: $xs_cont;
}

/*xs*/

.navbar {
	@include zeromargin;
	height: $xs_navh;
	z-index: 1;
	.logo {
		margin-left: $xs_lpad;
		div{
			height: $xs_navh;
			width: 50px;
			background-image: url("../img/TEN-logo-mark.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.navbar-links {
		position: absolute;
		right: 0px;
		.permlinks {
			height: $xs_navh;
			right: 0px;
			font-size: 0.8rem;
			position: absolute;
			overflow: hidden;
			.navbar-nav {
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
				.nav-item {
					margin-left: 10px;
					width: 60px;
					border: 0px;
					border-radius: 0px;
					.nav-link {
						color: $c_gray;
						text-align: center;
						i {
							position: relative;
							color: $c_ltteal;
							font-size: 16px;
							top: 2px;
						}
						.txt-menu {
							margin-top: 1px;
						}
					}
					.nav-link:hover {
						@include nav_hover;
					}
				}
			} 
		}
		#linksbar {
			font-weight: bold;
			font-size: 1.05em;
			margin-top: 50px;
			margin-right: 0px;
			background-color: $c_white;
			.nav-link {
				margin: 10px;
				text-align: center;
				color: $c_dkgray;
			}
			.nav-link:hover {
				@include nav_hover;
			}
		}
	}
}

.jumbotron {
	@include zeromargin;
	background-image: url('../img/QS_BG.png');
	background-color: $c_vlgray;
	background-repeat-y: no-repeat;
	background-position: 0px -2px;
	border-radius: 0px;
	height: $xs_jumbh;
	.btn {
		background-color: $c_dkteal;
		text-align: center;
		color: $c_white;
		font-size: 1.1rem;
		cursor: pointer;
		border-radius: 4px;
	}
	.btn:hover {
		background-color:$c_ltteal;
	}
	.quicksearch {
		height: $qsh;
		padding-top: 10px;
		margin-bottom: 1px;
		form {
			display: flex;
			input {
				width: 210px;
				height: $qslh;
				border: none;
				border-radius: 0px;
				font-size: 0.9em;
			}
			.search_btn {
				height: $qslh;
				width: 80px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				.icon-search {
					font-size: 27px;
					top: -3px;
					position: relative;
				}
				.search_text {
					display: none;
				}
			}
		}
	}
	.bio {
		.headshot {
			@include imagesize(210px,289px);
			
		}
		.namecard {
			margin-top: 12px;
			h2 {
				font-size: 2.45rem;
			}
			p {
				margin-top: -4px;
				color: $c_ltgray;
				font-size: 0.9rem;
			}
			.contact_btn {
				height: 42px;
				margin-top: -1px;
				width: $xs_cont;
			}
			.socialicons {
				padding-top: 13px;
				font-size: 1.65rem;
				a {
					color: $c_gray;
				}
				a:hover {
					color: $c_dkteal;
				}
			}
		}
		.contactlinks {
			font-size: 0.9rem;
			font-weight: bold;
			margin-top: 26px;
			p {
				line-height: 30px;
				margin-bottom: 14px;
				a {
					color: $c_dkteal;
					.icon {
						position: relative;
						color: $c_ltteal;
						font-size: 1.55rem;
						top: 2px;
						margin-right: 25px;
					}
				}
			}
			p:hover {
				a {
					color: $c_gray;
					.icon {
						color: $c_gray;
					}
				}
			}
		}
	}
}

#main {
	padding-top: 39px;
	padding-bottom: 19px;
	.sm_tab_nav {
		position: relative;
		margin-bottom: 12px;
		#mobiletabs {
			font-weight: bold;
			color: $c_dkteal;
			width: $xs_cont;
			height: 40px;
			padding-left: 9px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		select::-ms-expand {
			display: none;
		}
	}
	.sm_tab_nav:after {
		position: absolute;
		content: "\e902";
		font: 10px "xten_icons";
		color: $c_dkteal;
		right: 11px;
		top: 16px;
		
	}
	.tab-content {
		#aboutme {
			.aboutme {
			}
			.sidebar {
				h5 {
					padding-top: 15px;
					padding-bottom: 5px;
					font-weight: bold;
					font-size: 1.0rem;
				}
				p {
					font-size: 0.9rem;
				}
			}
		}
		#listings {
			iframe {
				border:0;
				width:600px;
				max-width:100%;
				height:450px;
			}
		}
	}
}

.footer {
	position: relative;
	height: $xs_footh;
	background-color: $c_ltteal;
	color: $c_white;
	padding-top: 26px;
	a {
		color: $c_white;
		text-decoration: none;
	}
	a:hover {
		color: $c_ltgray;
	}
	.locations {
		text-align: center;
		font-size: 1.05rem;
		i {
			margin-right: 5px;
		}
		.socialicons {
			font-size: 1.5rem;
			padding-top: 18px;
		}
	}
	.copyright {
		padding-top: 16px;
		text-align: center;
		.links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			a {
				text-decoration: underline;
			}
		}
		.copy {
			padding-top: 12px;
			font-size: 0.8rem;
		}
		.realty-icons {
			font-size: 2.25rem;
			span {
				padding: 1px 9px 0px 9px; 
			}
		}
	}
}

/*Media Queries*/

/*sm*/
@media (min-width: $sm_breakpoint) {
	.cust_container {
		width: $sm_cont;
	}
	.hide-small {
		display: inline-block;
	}
	.show-small {
		display: none;
	}
	.navbar {
		height: $sm_navh;
		.logo div {
			height: $sm_navh;
			width: 151px;
			background-image: url("../img/TEN-logo.svg");
		}
	}
	#main {
		.nav {
			width: $sm_cont;
			.nav-item {
				width: 25%;
				text-align: center;
				a {
					padding-bottom: 0.4rem;
					color: $c_ltgray;
					font-weight: bold;
					font-size: 1.1rem;
					border-bottom: 2px solid $c_vlgray;
				}
				a:hover {
					color: $c_dkteal;
					
				}
				.active {
					border-bottom: 2px solid $c_dkteal;
					color: $c_dkteal;
				}
			}
		}
	}
}