/*--------------------------------------------------------
* Filename: styles.scss
* Description: General styles for XTEN Realty

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Variables*/
/*Mixins*/
/*Custom Icons*/
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 23px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

.icon_contact {
  background-image: url("../img/contact_teal.svg"); }

.icon_webpage {
  background-image: url("../img/website_teal.svg"); }

.icon_office {
  background-image: url("../img/office_teal.png"); }

.icon_newsletter {
  background-image: url("../img/enewsletter_teal.png"); }

/*Main CSS*/
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden; }

.widen {
  display: inline-block;
  -webkit-transform: scale(1.1, 1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1, 1);
  /* Firefox */
  -ms-transform: scale(1.1, 1);
  /* IE 9 */
  -o-transform: scale(1.1, 1);
  /* Opera */
  transform: scale(1.1, 1);
  /* W3C */ }

.shorten {
  display: inline-block;
  -webkit-transform: scale(1, 0.9);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.9);
  /* Firefox */
  -ms-transform: scale(1, 0.9);
  /* IE 9 */
  -o-transform: scale(1, 0.9);
  /* Opera */
  transform: scale(1, 0.9);
  /* W3C */ }

/*x-small*/
.container {
  width: 100%; }

.navbar {
  position: relative;
  background-color: #FFF;
  border-bottom: 1px solid #AAA;
  color: #323232;
  height: 50px;
  padding: 0px;
  margin: 0px; }
  .navbar .logo {
    width: 55px;
    height: 33px; }
    .navbar .logo .logo_lg {
      display: none; }
    .navbar .logo img {
      margin-left: 11px;
      margin-top: 4px;
      width: 55px;
      height: 33px; }
  .navbar .navbar-links {
    position: absolute;
    right: 0px; }
    .navbar .navbar-links .permlinks {
      right: 2px;
      font-size: 0.8em;
      position: absolute; }
      .navbar .navbar-links .permlinks .navbar-nav {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .navbar .navbar-links .permlinks .navbar-nav .nav-item {
          margin-left: 11px;
          width: 59px;
          height: 45px;
          overflow: hidden;
          border-radius: 0px; }
          .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link {
            color: #666;
            text-align: center; }
          .navbar .navbar-links .permlinks .navbar-nav .nav-item .nav-link:hover {
            color: #237377;
            background-color: #EEE;
            border-radius: 2px; }
    .navbar .navbar-links #linksbar {
      font-weight: bold;
      font-size: 1.05em;
      margin-top: 50px;
      margin-right: 0px;
      background-color: #FFF; }
      .navbar .navbar-links #linksbar .nav-link {
        margin: 10px;
        text-align: center;
        color: #323232; }
      .navbar .navbar-links #linksbar .nav-link:hover {
        color: #237377;
        background-color: #EEE;
        border-radius: 2px; }

.jumbotron {
  background-image: url("../img/QS_BG.png");
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  background-color: #EEE;
  background-repeat-y: no-repeat;
  background-position: 0px -2px;
  border-radius: 0px;
  height: 763px; }
  .jumbotron .btn {
    background-color: #237377;
    text-align: center;
    color: #FFFEFE;
    font-size: 1.1rem;
    cursor: pointer; }
  .jumbotron .btn:hover {
    background-color: #2399A6; }
  .jumbotron .quicksearch {
    height: 61px;
    line-height: 40px;
    align-items: center; }
    .jumbotron .quicksearch form {
      height: 40px; }
      .jumbotron .quicksearch form input {
        height: 40px;
        border: none;
        border-radius: 0px;
        font-size: 0.9em; }
      .jumbotron .quicksearch form .search_btn {
        height: 40px; }
    .jumbotron .quicksearch .srch_opts {
      display: none; }
      .jumbotron .quicksearch .srch_opts a {
        font-size: 0.85rem; }
      .jumbotron .quicksearch .srch_opts a:hover {
        color: #237377; }
  .jumbotron .bio .headshot {
    position: relative;
    width: 210px;
    height: 289px; }
  .jumbotron .bio .namecard h2 {
    font-size: 2.45rem; }
  .jumbotron .bio .namecard p {
    color: #AAA;
    font-size: 0.9rem; }
  .jumbotron .bio .namecard .socialicons {
    font-size: 1.65rem; }
    .jumbotron .bio .namecard .socialicons a {
      color: #666; }
    .jumbotron .bio .namecard .socialicons a:hover {
      color: #237377; }
  .jumbotron .contactlinks {
    font-size: 1.1rem;
    font-weight: bold; }
    .jumbotron .contactlinks p {
      margin-bottom: 0.9rem; }
      .jumbotron .contactlinks p a {
        color: #237377; }
        .jumbotron .contactlinks p a span {
          position: relative; }
    .jumbotron .contactlinks p:hover a {
      text-decoration: none;
      color: #666; }
      .jumbotron .contactlinks p:hover a .cust_icon {
        opacity: 0.5; }
      .jumbotron .contactlinks p:hover a .icon_contact {
        background-image: url("../img/contact.svg"); }
      .jumbotron .contactlinks p:hover a .icon_webpage {
        background-image: url("../img/website.svg"); }
      .jumbotron .contactlinks p:hover a .icon_office {
        background-image: url("../img/office.svg"); }
      .jumbotron .contactlinks p:hover a .icon_newsletter {
        background-image: url("../img/enewsletter.svg"); }

#body .nav .nav-item {
  text-align: center; }
  #body .nav .nav-item a {
    padding-bottom: 0.4rem;
    color: #AAA;
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid #EEE; }
  #body .nav .nav-item a:hover {
    color: #237377; }
  #body .nav .nav-item .active {
    border-bottom: 2px solid #237377;
    color: #237377; }

#body .tab-content #aboutme .sidebar h5 {
  font-weight: bold;
  font-size: 1.0rem; }

#body .tab-content #aboutme .sidebar p {
  font-size: 0.9rem; }

#body .tab-content #listings iframe {
  border: 0;
  width: 600px;
  max-width: 100%;
  height: 450px; }

.footer {
  position: relative;
  background-color: #2399A6;
  color: #FFF; }
  .footer a {
    color: #FFFEFE;
    text-decoration: none; }
  .footer a:hover {
    color: #AAA; }
    .footer a:hover img {
      filter: invert(65%); }
  .footer img {
    filter: invert(100%); }
  .footer .locations {
    text-align: left; }
    .footer .locations .socialicons {
      font-size: 1.65rem; }
  .footer .copyright {
    text-align: right; }
    .footer .copyright .links a {
      text-decoration: underline; }
    .footer .copyright .copy {
      font-size: 0.8rem; }

/*Updated media queries*/
/*small*/
@media (min-width: 727px) {
  .container {
    width: 769px;
    left: 19px;
    padding-left: 0px;
    padding-right: 0px; }
  .navbar {
    height: 56px; }
    .navbar .logo {
      width: 151px;
      height: 35px; }
      .navbar .logo .logo_lg {
        display: block; }
      .navbar .logo .logo_sm {
        display: none; }
      .navbar .logo img {
        margin-left: 20px;
        margin-top: 8px;
        width: 151px;
        height: 35px; }
    .navbar .navbar-links .permlinks {
      top: 4px;
      right: 6px; }
      .navbar .navbar-links .permlinks .navbar-nav .nav-item {
        width: 62px; }
    .navbar .navbar-links #linksbar {
      margin-top: 56px; }
  .jumbotron {
    height: 278px; }
    .jumbotron .quicksearch form {
      padding-left: 0px; }
      .jumbotron .quicksearch form .col-6 {
        z-index: 1; }
      .jumbotron .quicksearch form input {
        width: 222px;
        z-index: 1; }
      .jumbotron .quicksearch form .search_btn {
        width: 96px;
        margin-top: -5px;
        margin-left: 76px; }
    .jumbotron .quicksearch .srch_opts {
      display: flex;
      justify-content: space-between;
      padding-left: 60px;
      width: 400px; }
      .jumbotron .quicksearch .srch_opts a {
        font-weight: bold;
        color: #FFFEFE;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.85rem; }
      .jumbotron .quicksearch .srch_opts a:hover {
        color: #237377; }
    .jumbotron .bio .headshot {
      width: 159px;
      height: 216px;
      left: -14px; }
    .jumbotron .bio .namecard {
      margin-left: -10px;
      padding-top: 8px; }
      .jumbotron .bio .namecard h2 {
        margin-left: -2px; }
      .jumbotron .bio .namecard p {
        padding-top: 6px; }
      .jumbotron .bio .namecard .contact_btn {
        width: 221px;
        margin-top: 9px;
        margin-left: 1px;
        height: 41px; }
      .jumbotron .bio .namecard .socialicons {
        width: 221px;
        padding-top: 20px; }
    .jumbotron .contactlinks {
      padding-top: 12px;
      margin-left: -4px; }
      .jumbotron .contactlinks p a span {
        margin-right: 18px;
        top: 4px; }
  #body {
    margin-top: 80px;
    padding-right: 32px; }
    #body .nav .nav-item {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
      #body .nav .nav-item a {
        margin-top: 2px; }
    #body .tab-content {
      margin-top: 50px;
      line-height: 28px;
      padding-bottom: 40px; }
      #body .tab-content #aboutme .aboutme {
        padding-right: 85px; }
      #body .tab-content #aboutme .sidebar {
        padding-left: 36px; }
        #body .tab-content #aboutme .sidebar h5 {
          margin-top: 7px; }
        #body .tab-content #aboutme .sidebar p {
          padding-bottom: 24px; }
  .footer {
    height: 150px;
    width: 100%;
    padding-top: 22px; }
    .footer .locations {
      margin-left: -1px;
      margin-top: 2px; }
      .footer .locations img {
        margin-right: 3px;
        margin-top: -1; }
      .footer .locations .socialicons {
        margin-top: 13px;
        width: 217px; }
    .footer .copyright {
      padding-right: 47px; }
      .footer .copyright .links a {
        padding-left: 30px; }
      .footer .copyright .copy {
        margin-top: 5px;
        margin-bottom: 10px; }
      .footer .copyright img {
        margin-left: 20px; } }

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 974px;
    left: 16px; }
  .navbar {
    height: 100px;
    padding: 0px;
    margin: 0px; }
    .navbar .logo {
      width: 334px;
      height: 76px; }
      .navbar .logo img {
        margin-left: 37px;
        width: 334px;
        height: 76px; }
    .navbar .navbar-links .permlinks {
      right: 0px;
      top: 2px; }
      .navbar .navbar-links .permlinks .cust-toggler {
        display: none; }
    .navbar .navbar-links #linksbar {
      margin-top: 50px;
      margin-right: 0px; }
      .navbar .navbar-links #linksbar .nav-link {
        margin: 0 0 0 32px;
        text-align: left; }
      .navbar .navbar-links #linksbar .nav-link:hover {
        color: #237377;
        background-color: #EEE;
        border-radius: 2px; }
  .jumbotron {
    height: 354px; }
    .jumbotron .quicksearch form {
      padding-left: 0px; }
      .jumbotron .quicksearch form input {
        width: 214px; }
      .jumbotron .quicksearch form .search_btn {
        width: 132px;
        margin-top: -3px;
        margin-left: 14px; }
    .jumbotron .quicksearch .srch_opts {
      width: 482px; }
      .jumbotron .quicksearch .srch_opts a {
        font-size: 1.0rem; }
    .jumbotron .bio .headshot {
      width: 212px;
      height: 293px;
      left: -14px; }
    .jumbotron .bio .namecard {
      margin-left: -6px;
      padding-top: 39px; }
      .jumbotron .bio .namecard h2 {
        margin-left: -2px; }
      .jumbotron .bio .namecard p {
        padding-top: 6px; }
      .jumbotron .bio .namecard .contact_btn {
        width: 212px;
        margin-top: 9px;
        margin-left: 1px;
        height: 41px; }
      .jumbotron .bio .namecard .socialicons {
        width: 212px; }
    .jumbotron .contactlinks {
      padding-top: 40px;
      margin-left: 4px; }
      .jumbotron .contactlinks p a span {
        margin-right: 18px;
        top: 4px; }
  #body {
    margin-top: 144px;
    padding-right: 32px; }
    #body .nav .nav-item {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
      #body .nav .nav-item a {
        margin-top: 2px; }
    #body .tab-content {
      margin-top: 50px;
      line-height: 28px;
      padding-bottom: 40px; }
      #body .tab-content #aboutme .aboutme {
        padding-right: 85px; }
      #body .tab-content #aboutme .sidebar {
        padding-left: 36px; }
        #body .tab-content #aboutme .sidebar h5 {
          margin-top: 7px; }
        #body .tab-content #aboutme .sidebar p {
          padding-bottom: 24px; } }

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1180px;
    left: 16px; }
  .jumbotron {
    height: 421px; }
    .jumbotron .quicksearch form input {
      width: 264px; }
    .jumbotron .quicksearch form .search_btn {
      width: 166px; }
    .jumbotron .quicksearch .srch_opts {
      padding-left: 56px;
      width: 549px; }
    .jumbotron .bio .headshot {
      width: 264px;
      height: 359px;
      left: -14px; }
    .jumbotron .bio .namecard {
      padding-top: 75px; }
      .jumbotron .bio .namecard h2 {
        margin-left: -2px; }
      .jumbotron .bio .namecard p {
        padding-top: 6px; }
      .jumbotron .bio .namecard .contact_btn {
        width: 264px; }
    .jumbotron .contactlinks {
      padding-top: 73px;
      margin-left: 12px; }
      .jumbotron .contactlinks p a span {
        margin-right: 18px;
        top: 4px; }
  .footer .locations .socialicons {
    width: 265px; } }

/*end media queries*/
