/*--------------------------------------------------------
* Filename: styles.scss
* Description: General styles for XTEN Realty

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Variables*/
$colormain: #FFF;
$colorheader: #EEE;
$colorfooter: #2399A6;
$colorteal: #237377;
$fontdark: #323232;
$fontgrey: #666;
$fontltgrey: #AAA;
$fontwhite: #FFFEFE;

$nb_height: 100px;
$nb_height_mobile: $nb_height / 2;
$ft_height: 150px;
$ft_height_mobile: 279px;

$qs_height: 62px;

$maxwidth: 100%;

/*Mixins*/

@mixin zeromargin ($p,$m) {
	padding: $p;
	margin: $m;
}

@mixin imagesize($h,$w) {
	height: $h;
	width: $w;
}

@mixin nav_hover {
	color: $colorteal;
	background-color: $colorheader;
	border-radius: 2px;
}

/*Custom Icons*/

.cust_icon {
	display: inline-block;
	width: 24px;
	height: 23px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.icon_contact {
	background-image: url("../img/contact_teal.svg");
}

.icon_webpage {
	background-image: url("../img/website_teal.svg");
}

.icon_office {
	background-image: url("../img/office_teal.png");
}

.icon_newsletter {
	background-image: url("../img/enewsletter_teal.png");
}

/*Main CSS*/
*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	@include zeromargin(0px,0px);
	font-family: 'Lato', sans-serif;
}

.widen {
	display:inline-block;
	-webkit-transform:scale(1.1,1); /* Safari and Chrome */
	-moz-transform:scale(1.1,1); /* Firefox */
	-ms-transform:scale(1.1,1); /* IE 9 */
	-o-transform:scale(1.1,1); /* Opera */
	transform:scale(1.1,1); /* W3C */
}

.navbar {
	background-color: $colormain;
	border-bottom: 1px solid #AAA;
	color: $fontdark;
	.navbar-links {
		position: absolute;
		.permlinks {
			position: absolute;
			.nav-item {
				.nav-link {
					color: $fontgrey;
					text-align: center;
				}
				.nav-link:hover {
					@include nav_hover;
				}
			}
		} 
		#linksbar {
			font-weight: bold;
			font-size: 1.05em;
			.nav-link {
				color: $fontdark;
			}
			.nav-link:hover {
				@include nav_hover;
			}
		}
	}
}

.jumbotron {
	@include zeromargin(0px,0px);
	position: relative;
	width: $maxwidth;
	top: $nb_height;
	background-color: $colorheader;
	background-repeat-y: no-repeat;
	background-position: top;
	border-radius: 0px;
	.btn {
		background-color: $colorteal;
		text-align: center;
		color: $fontwhite;
		font-size: 1.1rem;
		cursor: pointer;
	}
	.btn:hover {
		background-color:$colorfooter;
	}
	.quicksearch {
		height: $qs_height;
		line-height: 40px;
		align-items: center;
		form {
			height: 40px;
			input {
				height: 40px;
				border: none;
				border-radius: 0px;
				font-size: 0.9em;
			}
			.search_btn {
				height: 40px;
			}
		}
		.srch_opts {
			display: flex;
			justify-content: space-between;
			a {
				font-weight: bold;
				color: $fontwhite;
				text-decoration: underline;
				cursor: pointer;
			}
			a:hover {
				color: $colorteal;
			}
		}
	}
	.bio {
		.headshot {
			position: relative;
		}
		.namecard {
			h2 {
				font-size: 2.45rem;
			}
			p {
				color: $fontltgrey;
				font-size: 0.9rem;
			}
			.contact_btn {
			}
			.socialicons {
				font-size: 1.65rem;
				a {
					color: $fontgrey;
				}
				a:hover {
					color: $colorteal;
				}
			}
		}
	}
	.contactlinks {
		font-size: 1.1rem;
		font-weight: bold;
		p {
			margin-bottom: 0.9rem;
			a {
				color: $colorteal;
				span {
					position: relative;
				}
			}
		}
		p:hover {
			a {
				text-decoration: none;
				color: $fontgrey;
				.cust_icon {
					opacity: 0.5;
				}
				.icon_contact {
					background-image: url("../img/contact.svg");
				}
				.icon_webpage {
					background-image: url("../img/website.svg");
				}
				.icon_office {
					background-image: url("../img/office.svg");
				}
				.icon_newsletter {
					background-image: url("../img/enewsletter.svg");
				}
			}
		}
	}
}

#body {
	.nav {
		.nav-item {
			text-align: center;
			a {
				padding-bottom: 0.4rem;
				color: $fontltgrey;
				font-weight: bold;
				font-size: 1.1rem;
				border-bottom: 2px solid $colorheader;
			}
			a:hover {
				color: $colorteal;
				
			}
			.active {
				border-bottom: 2px solid $colorteal;
				color: $colorteal;
			}
		}
	}
	.tab-content {
		#aboutme {
			.aboutme {
			}
			.sidebar {
				h5 {
					font-weight: bold;
					font-size: 1.0rem;
				}
				p {
					font-size: 0.9rem;
				}
			}
		}
	}
}

.footer {
	position: relative;
	background-color: $colorfooter;
	color: $colormain;
	a {
		color: $fontwhite;
		text-decoration: none;
	}
	a:hover {
		color: $fontltgrey;
		img {
			filter: invert(65%);
		}
	}
	img {
		filter: invert(100%);
	}
	.locations {
		text-align: left;
		img {
		}
		.socialicons {
			font-size: 1.65rem;
		}
	}
	.copyright {
		text-align: right;
		.links a {
			text-decoration: underline;
		}
		.copy {
			font-size: 0.8rem;
		}
		img {
		}
	}
}

/*Updated media queries*/

/*x-small*/
@media (max-width: 768px) {
	.container {
		width: 100%;
	}
}

/*small*/
@media (min-width: 768px) {
	.container {
		width: 769px;
		left: 13px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.footer {
		height: $ft_height;
		width: $maxwidth;
		padding-top: 22px;
		.locations {
			margin-left: -1px;
			margin-top: 2px;
			img {
				margin-right: 3px;
				margin-top: -1;
			}
			.socialicons {
				margin-top: 13px;
			}
		}
		.copyright {
			padding-right: 47px;
			.links a {
				padding-left: 30px;
			}
			.copy {
				margin-top: 5px;
				margin-bottom: 10px;
			}
			img {
				margin-left: 20px;
			}
		}
	}
}

/*medium*/
@media (min-width: 992px) {
	.container {
		width: 974px;
		left: 16px;
	}
	.navbar {
		height: $nb_height;
		@include zeromargin(0px,0px);
		.logo {
			@include imagesize(78px,334px);
			img {
				margin-left: 37px;
				@include imagesize(76px,334px);
			}
		}
	}
	.navbar {
		.navbar-links {
			right: 29px;
			.permlinks {
				right: 0px;
				top: 2px;
				font-size: 0.8em;
				.nav-item {
					margin-left: 11px;
					width: 66px;
				}
			} 
			#linksbar {
				margin-top: 50px;
				.nav-link {
					margin-left: 32px;
				}
				.nav-link:hover {
					@include nav_hover;
				}
			}
		}
	}
	.jumbotron {
		background-image: url('../img/QS_BG.png');
		height: 354px;
		.quicksearch {
			form {
				padding-left: 0px;
				input {
					width: 214px;
				}
				.search_btn {
					width: 132px;
					margin-top: -3px;
					margin-left: 14px;
				}
			}
			.srch_opts {
				padding-left: 60px;
				width: 482px;
			}
		}
		.bio {
			.headshot {
				@include imagesize(293px,212px);
				left: -14px;
			}
			.namecard {
				margin-left: -6px;
				padding-top: 39px;
				h2 {
					margin-left: -2px;
				}
				p {
					padding-top: 6px;
				}
				.contact_btn {
					width: 212px;
					margin-top: 9px;
					margin-left: 1px;
					height: 41px;
				}
				.socialicons {
					padding-top: 20px;
				}
			}
		}
		.contactlinks {
			padding-top: 40px;
			margin-left: 4px;
			p {
				a {
					span {
						margin-right: 18px;
						top: 4px;
					}
				}
			}
		}
	}
	#body {
		margin-top: 144px;
		padding-right: 32px;
		.nav {
			.nav-item {
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
				margin-right: 0;
				a {
					margin-top: 2px;
				}
			}
		}
		.tab-content {
			margin-top: 50px;
			line-height: 28px;
			padding-bottom: 40px;
			#aboutme {
				.aboutme {
					padding-right: 85px;
				}
				.sidebar {
					padding-left: 36px;
					h5 {
						margin-top: 7px;
					}
					p {
						padding-bottom: 24px;
					}
				}
			}
		}
	}
	.footer {
		.locations {
			.socialicons {
				width: 217px;
			}
		}
	}
}

/*large*/
@media (min-width: 1200px) {
	.container {
		width: 1180px;
		left: 16px;
	}
	.jumbotron {
		height: 421px;
		.quicksearch {
			form {
				input {
					width: 264px;
				}
				.search_btn {
					width: 166px;
				}
			}
			.srch_opts {
				padding-left: 56px;
				width: 549px;
			}
		}
		.bio {
			.headshot {
				@include imagesize(359px,264px);
				left: -14px;
			}
			.namecard {
				padding-top: 75px;
				h2 {
					margin-left: -2px;
				}
				p {
					padding-top: 6px;
				}
				.contact_btn {
					width: 264px;
				}
			}
		}
		.contactlinks {
			padding-top: 73px;
			margin-left: 12px;
			p {
				a {
					span {
						margin-right: 18px;
						top: 4px;
					}
				}
			}
		}
	}
	.footer {
		.locations {
			.socialicons {
				width: 265px;
			}
		}
	}
}

/*end media queries*/


