/*--------------------------------------------------------
* Filename: styles.scss
* Description: General styles for XTEN Realty

* Author: R. Brian Redd 
--------------------------------------------------------*/
/*Fonts*/
@font-face {
	font-family: 'xten_icons';
	src:  url('../fonts/xten_icons.eot');
	src:  url('../fonts/xten_icons.eot') format('embedded-opentype'),
		url('../fonts/xten_icons.ttf') format('truetype'),
		url('../fonts/xten_icons.woff') format('woff'),
		url('../fonts/xten_icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'xten_icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-realtor:before {
	content: "\e900";
}
.icon-equal-housing:before {
	content: "\e90d";
}
.icon-account:before {
	content: "\e901";
}
.icon-angle-down:before {
	content: "\e902";
}
.icon-contact:before {
	content: "\e903";
}
.icon-enewsletter:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-instagram:before {
	content: "\e906";
}
.icon-linkedin:before {
	content: "\e907";
}
.icon-office:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-twitter:before {
	content: "\e90a";
}
.icon-website:before {
	content: "\e90b";
}
.icon-youtube:before {
	content: "\e90c";
}

/*Variables*/
$c_white: #FFF; //white
$c_vlgray: #EEE; //very light gray
$c_ltgray: #AAA; //light gray
$c_gray: #666; //medium gray
$c_dkgray: #323232; //dark gray
$c_ltteal: #2399A6; //lighter teal
$c_dkteal: #237377; //darker teal

$qsh: 60px; //quicksearch height;
$qslh: 40px; //quicksearch line-height;
$gutter: 30px; //gutter width
$gutter_lg: 111px; //large gutter width
$gutter_xl: 128px; //xlarge gutter width

$xs_cont: 290px; //xs container width
$xs_navh: 50px; //xs navigation height
$xs_jumbh: 764px; //xs jumbotron height
$xs_footh: 279px; //xs footer height
$xs_lpad: 15px; //xs min left spacing

$sm_breakpoint: 786px; //breakpoint to move from xs > sm
$sm_cont: 726px; //sm container width
$sm_navh: 54px; //sm navigation height
$sm_jumbh: 278px; //sm jumbotron height
$sm-lg_footh: 151px; //sm-lg footer height

$md_breakpoint: 1000px; //breakpoint to move from sm > md
$md_cont: 942px; //md container width
$md-lg_navh: 101px; //md-lg navigation height
$md_jumbh: 355px; //md jumbotron height

$lg_breakpoint: 1199px; //breakpoint to move from md > lg
$lg_cont: 1146px; //lg container width
$lg_jumbh: 421px; //lg jumbotron height


/*Mixins*/

@mixin zeromargin {
	padding: 0px;
	margin: 0px;
}

@mixin imagesize($w,$h) {
	width: $w;
	height: $h;
}

@mixin nav_hover {
	color: $c_dkteal;
	background-color: $c_vlgray;
}

/*
General CSS
-----------*/

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	@include zeromargin;
	font-family: 'Lato', sans-serif;
	background-color: $c_white;
	overflow-x: hidden;
}

a,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

.widen {
	display:inline-block;
	-webkit-transform:scale(1.1,1); 
	-moz-transform:scale(1.1,1); 
	-ms-transform:scale(1.1,1); 
	-o-transform:scale(1.1,1); 
	transform:scale(1.1,1); 
}

.shorten {
	display:inline-block;
	-webkit-transform:scale(1.0,0.9); 
	-moz-transform:scale(1.0,0.9); 
	-ms-transform:scale(1.0,0.9); 
	-o-transform:scale(1.0,0.9); 
	transform:scale(1.0,0.9); 
}

.shorten-widen {
	display:inline-block;
	-webkit-transform:scale(1.1,0.9); 
	-moz-transform:scale(1.1,0.9); 
	-ms-transform:scale(1.1,0.9); 
	-o-transform:scale(1.1,0.9); 
	transform:scale(1.1,0.9); 
}

.hide-small {
	display: none;
}

#officeModal {
	.modal-content {
		@include zeromargin;
		background-image: url('../img/QS_BG.png');
		background-color: $c_vlgray;
		background-repeat: repeat-x;
		background-position: 0px -2px;
		.modal-header {
			color: $c_white;
			button {
				color: $c_white;
			}
		}
		.modal-body {
			iframe {
				height: 100%;
				width: 100%;
			}
		}
		.modal-footer {
			color: $c_dkteal;
		}
	}
}

/*
XS/Default size
----------------*/

.cust_container {
	@include zeromargin;
	margin: auto;
	width: $xs_cont;
}

.navbar {
	@include zeromargin;
	height: $xs_navh;
	z-index: 1;
	.logo {
		margin-left: $xs_lpad;
		div{
			height: $xs_navh;
			width: 50px;
			background-image: url("../img/TEN-logo-mark.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.navbar-links {
		position: absolute;
		right: 0px;
		.permlinks {
			height: $xs_navh;
			right: 0px;
			font-size: 0.8rem;
			position: absolute;
			overflow: hidden;
			.navbar-nav {
				display: flex;
				-webkit-box-orient: horizontal;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
				.nav-item {
					margin-left: 10px;
					width: 60px;
					border: 0px;
					border-radius: 0px;
					.nav-link {
						color: $c_gray;
						text-align: center;
						i {
							position: relative;
							color: $c_ltteal;
							font-size: 16px;
							top: 2px;
						}
						.txt-menu {
							margin-top: 1px;
						}
					}
					.nav-link:hover {
						@include nav_hover;
					}
				}
			} 
		}
		#linksbar {
			font-weight: bold;
			font-size: 1.05em;
			margin-top: $xs_navh;
			margin-right: 0px;
			background-color: $c_white;
			.nav-link {
				margin: 10px;
				text-align: center;
				color: $c_dkgray;
			}
			.nav-link:hover {
				@include nav_hover;
			}
		}
	}
}

.jumbotron {
	@include zeromargin;
	background-image: url('../img/QS_BG.png');
	background-color: $c_vlgray;
	background-repeat: repeat-x;
	background-position: 0px -2px;
	border-radius: 0px;
	height: $xs_jumbh;
	.btn {
		background-color: $c_dkteal;
		text-align: center;
		color: $c_white;
		font-size: 1.1rem;
		cursor: pointer;
		border-radius: 4px;
	}
	.btn:hover {
		background-color:$c_ltteal;
	}
	.quicksearch {
		height: $qsh;
		padding-top: 10px;
		margin-bottom: 1px;
		form {
			display: flex;
			input {
				width: 210px;
				height: $qslh;
				border: none;
				border-radius: 0px;
				font-size: 0.9em;
			}
			.search_btn {
				height: $qslh;
				width: 80px;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				.icon-search {
					font-size: 27px;
					top: -3px;
					position: relative;
				}
			}
		}
	}
	.bio {
		.headshot {
			@include imagesize(210px,289px);
		}
		.namecard {
			margin-top: 12px;
			h2 {
				font-size: 2.45rem;
			}
			p {
				margin-top: -4px;
				color: $c_ltgray;
				font-size: 0.9rem;
			}
			.contact_btn {
				height: 42px;
				margin-top: -1px;
				width: $xs_cont;
			}
			.socialicons {
				padding-top: 13px;
				font-size: 1.65rem;
				a {
					color: $c_gray;
				}
				a:hover {
					color: $c_dkteal;
				}
			}
		}
		.contactlinks {
			font-size: 0.9rem;
			font-weight: bold;
			margin-top: 26px;
			p {
				line-height: 30px;
				margin-bottom: 14px;
				a {
					color: $c_dkteal;
					.icon {
						position: relative;
						color: $c_ltteal;
						font-size: 1.55rem;
						top: 2px;
						margin-right: 25px;
					}
				}
			}
			p:hover {
				a {
					color: $c_gray;
					.icon {
						color: $c_gray;
					}
				}
			}
		}
	}
}

#main {
	padding-top: 39px;
	padding-bottom: 3px;
	.sm_tab_nav {
		position: relative;
		margin-bottom: 12px;
		#mobiletabs {
			font-weight: bold;
			color: $c_dkteal;
			width: $xs_cont;
			height: 40px;
			padding-left: 9px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		select::-ms-expand {
			display: none;
		}
	}
	.sm_tab_nav:after {
		position: absolute;
		content: "\e902";
		font: 10px "xten_icons";
		color: $c_dkteal;
		right: 11px;
		top: 16px;
		
	}
	.tab-content {
		#aboutme {
			.aboutme {
				padding-bottom: 10px;
			}
			.sidebar {
				padding-top: 5px;
				h5 {
					font-weight: bold;
					font-size: 1.0rem;
				}
				p {
					padding-top: 4px;
					padding-bottom: 16px;
					font-size: 0.9rem;
				}
			}
		}
	}
}

.footer {
	position: relative;
	height: $xs_footh;
	background-color: $c_ltteal;
	color: $c_white;
	padding-top: 24px;
	a {
		color: $c_white;
		text-decoration: none;
	}
	a:hover {
		color: $c_ltgray;
	}
	.locations {
		text-align: center;
		font-size: 1.05rem;
		i {
			margin-right: 5px;
		}
		.socialicons {
			font-size: 1.5rem;
			padding-top: 11px;
		}
	}
	.copyright {
		padding-top: 16px;
		text-align: center;
		.links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			a {
				text-decoration: underline;
			}
		}
		.copy {
			padding-top: 12px;
			font-size: 0.8rem;
		}
		.realty-icons {
			font-size: 2.25rem;
			span {
				margin: 1px 9px 0px 9px; 
			}
		}
	}
}

/*
Media Queries
-------------*/

/*SMALL SIZE*/
@media (min-width: $sm_breakpoint) {
	.cust_container {
		width: $sm_cont;
	}
	.hide-small {
		display: inline-block;
	}
	.show-small {
		display: none;
	}
	
	.navbar {
		height: $sm_navh;
		.logo {
			margin-left: 20px;
			div {
				height: $sm_navh;
				width: 153px;
				background-image: url("../img/TEN-logo.svg");
			}
		}
		.navbar-links {
			.permlinks {
				height: $sm_navh;
				top: 0px;
				margin-right: 7px;
				padding-top: 4px;
				.navbar-nav {
					.nav-item {
						margin-left: 15px;
					}
				}
			}
			#linksbar {
				margin-top: $sm_navh;
			}
		}
	}
	
	.jumbotron {
		height: $sm_jumbh;
		.quicksearch {
			display: flex;
			flex-direction: row;
			form {
				input {
					width: 222px;
				}
				.search_btn {
					margin-left: $gutter;
					border-top-left-radius: 4px;
					border-bottom-left-radius: 4px;
					width: 95px;
					
				}
			}
			.srch_opts {
				display: flex;
				margin-left: $gutter;
				width: 350px;
				padding: 1px;
				height: $qslh;
				justify-content: space-between;
				align-items: center;
				a {
					font-weight: bold;
					color: $c_white;
					text-decoration: underline;
					cursor: pointer;
					font-size: 0.9rem;
				}
				a:hover {
					color: $c_dkteal;
				}
			}
		}
		.bio {
			display: flex;
			.headshot {
				@include imagesize(158px,218px);
			}
			.namecard {
				margin-left: $gutter + 1px;
				margin-top: 9px;
				p {
					margin-top: 13px;
				}
				.contact_btn{
					margin-top: 9px;
					width: 221px;
				}
				.socialicons {
					padding-top: 21px;
					width: 230px;
					margin-left: -6px;
				}
			}
			.contactlinks {
				margin-left: $gutter + 2px;
				margin-top: 13px;
			}
		}
		
	}
	
	#main {
		padding-top: 27px;
		#desktoptabs {
			width: $sm_cont;
			margin-bottom: 33px;
			.nav-item {
				width: 25%;
				text-align: center;
				a {
					padding-bottom: 0.4rem;
					color: $c_ltgray;
					font-weight: bold;
					font-size: 1.0rem;
					border-bottom: 2px solid $c_vlgray;
				}
				a:hover {
					color: $c_dkteal;
					
				}
				.active {
					border-bottom: 2px solid $c_dkteal;
					color: $c_dkteal;
				}
			}
		}
		.tab-content {
			#aboutme {
				.am_container {
					display: flex;
					.aboutme {
						width: 74%;
						line-height: 1.75rem;
					}
					.sidebar {
						margin-left: $gutter;
						p {
							padding-bottom: 26px;
						}
					}
				}
			}
		}
	}
	
	.footer {
		height: $sm-lg_footh;
		.cust_container {
			display: flex;
			justify-content: space-between;
			.locations {
				width: 50%;
				text-align: left;
				font-size: 1.1rem;
				div {
					padding-bottom: 2px;
				}
				.socialicons {
					width: 218px;
					margin-left: -5px;
				}
			}
			.copyright {
				width: 50%;
				max-width: 350px;
				text-align: right;
				padding-top: 0px;
				.links {
					width: 316px;
					float: right;
				}
				.copy {
					padding-top: 9px;
				}
				.realty-icons span {
					margin: 1px 0px 0px 18px;
				}
			}
		}
	}
}

/*MEDIUM SIZE*/
@media (min-width: $md_breakpoint) {
	.cust_container {
		width: $md_cont;
	}
	
	.navbar {
		height: $md-lg_navh;
		.logo {
			margin-left: 39px;
			div {
				height: $md-lg_navh;
				width: 330px;
			}
		}
		.navbar-links {
			.permlinks {
				top: -3px;
				margin-right: 35px;
				padding-top: 0px;
				.navbar-nav {
					.cust-toggler {
						display: none;
					}
					.nav-item {
						margin-left: 15px;
					}
				}
			}
			#linksbar {
				margin-top: 40px;
				margin-right: 20px;
				height: 45px;
				.nav-link {
					margin-left: 22px;
				}
			}
		}
	}
	
	.jumbotron {
		height: $md_jumbh;
		.quicksearch {
			form {
				input {
					width: 213px;
				}
				.search_btn {
					margin-left: $gutter_lg;
					width: 132px;
					
				}
			}
			.srch_opts {
				margin-left: 111px;
				width: 428px;
				a {
					font-size: 1.0rem;
				}
			}
		}
		.bio {
			.headshot {
				@include imagesize(213px,293px);
			}
			.namecard {
				margin-left: $gutter_lg;
				margin-top: 38px;
				.contact_btn{
					width: 213px;
				}
				.socialicons {
					width: 223px;
				}
			}
			.contactlinks {
				margin-left: $gutter_lg - 4px;
				margin-top: 42px;
				font-size: 1.05rem;
				p {
					a {
						margin-right: 21px;
					}
				}
			}
		}
		
	}
	
	#main {
		padding-top: 40px;
		#desktoptabs {
			width: $md_cont;
			margin-bottom: 49px;
			.nav-item {
				a {
					font-size: 1.2rem;
				}
			}
		}
		.tab-content {
			#aboutme {
				.am_container {
					.aboutme {
						width: 618px;
					}
					.sidebar {
						margin-top: 3px;
						margin-left: $gutter_lg;
						p {
							padding-bottom: 26px;
						}
					}
				}
			}
		}
	}
	
	.footer {
		.cust_container {
			.locations {
				.socialicons {
					width: 218px;
					padding-top: 12px;
					margin-left: -6px;
				}
			}
		}
	}
}

/*LARGE SIZE*/
@media (min-width: $lg_breakpoint) {
	.cust_container {
		width: $lg_cont;
	}
	
	.jumbotron {
		height: $lg_jumbh;
		.quicksearch {
			form {
				input {
					width: 264px;
				}
				.search_btn {
					margin-left: $gutter;
					width: 166px;
					
				}
			}
			.srch_opts {
				margin-left: $gutter_xl;
				width: 498px;
			}
		}
		.bio {
			.headshot {
				@include imagesize(264px,362px);
			}
			.namecard {
				margin-left: $gutter_xl;
				margin-top: 75px;
				.contact_btn{
					width: 264px;
				}
				.socialicons {
					width: 271px;
				}
			}
			.contactlinks {
				margin-left: $gutter_xl + 9px;
				margin-top: 75px;
			}
		}
		
	}
	
	#main {
		padding-top: 44px;
		padding-bottom: 22px;
		#desktoptabs {
			width: $lg_cont;
			margin-bottom: 49px;
		}
		.tab-content {
			#aboutme {
				.am_container {
					.aboutme {
						width: 754px;
					}
				}
			}
		}
	}
	
	.footer {
		.cust_container {
			.locations {
				font-size: 1.1rem;
				.socialicons {
					width: 270px;
				}
			}
		}
	}
}

